@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: hsl(0, 0%, 95%);

    min-height: 100vh;
    display: grid;
    place-content: center;
    padding: 1rem;
    box-sizing: border-box;
    line-height: 1.5;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
}
.attribution a { color: hsl(228, 45%, 44%); }

.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
  /* margin: 140px 0 100px; */
  color: hsla(0, 0%, 100%, 0.75);
  /* font-size: 15px; */
  align-items: stretch;
  font-size: 0.9375rem; // font size always in rem / em!
  max-width: 48rem;  // other sizes in rem will allow them to scale too
  margin-bottom: 2rem;
}

h2 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  margin: 40px 0;
  font-size: 2.5em;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 325px;
  box-sizing: border-box;
}

.card p {
  margin-bottom: auto;
}

.card1 {
  background: hsl(31, 77%, 52%);
  border-radius: 5px 0 0 5px;
}

.card2 {
  background: hsl(184, 100%, 22%);
}

.card3 {
  background: hsl(179, 100%, 13%);
  border-radius: 0 5px 5px 0;
}

.card img {
  width: 65px;
}

.btn_more {
  margin-top: 80px;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 95%);
  border-radius: 25px;
  text-decoration: none;
}

.card1 .btn_more {
  color: hsl(31, 77%, 52%);
}

.card2 .btn_more {
  color: hsl(184, 100%, 22%);
}

.card3 .btn_more {
  color: hsl(179, 100%, 13%);
}

.btn:hover {
  background: none;
  border: 2px solid hsl(0, 0%, 95%);
  box-sizing: border-box;
  color: hsl(0, 0%, 95%);
  cursor: grabbing;
}

@media only screen and (max-width: 760px) {
  .card-container {
    flex-direction: column;
    margin: 90px 0;
  }

  .card1 {
    border-radius: 5px 5px 0 0;
  }

  .card3 {
    border-radius: 0 0 5px 5px;
  }
}
